name: CI

on:
  push:
    tags-ignore:
      - '**'
    branches:
      - '**'
  pull_request:

permissions:
  contents: read # required to checkout the code

jobs:
  checks:
    name: checks
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.10']
        os: [ubuntu-latest, macos-latest, windows-latest]
    
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        id: python-setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        id: setup-uv
        with:
          # Install a specific version of uv.
          version: "0.9.9"
          enable-cache: true
          restore-cache: true
          save-cache: true
          prune-cache: true
          cache-dependency-glob: "uv.lock"
          
      - name: Install the project
        run: uv sync --locked

      - name: check uv cache is working
        if: steps.setup-uv.outputs.cache-hit == 'true'
        run: echo "uv cache was restored"

      - name: isort
        run: uv run isort pymusas_models model_function_tests model_creation_tests model_release.py
      
      - name: flake8
        run: |
          uv run flake8 --config .flake8 pymusas_models model_function_tests model_creation_tests model_release.py
      
      - name: Cache mypy
        uses: actions/cache@v4
        with:
          path: ./.mypy_cache
          key: ${{ runner.os }}-${{ steps.python-setup.outputs.python-version }}-${{ hashFiles('uv.lock') }}

      - name: mypy
        run: uv run mypy

      - name: Code coverage testing (creation tests)
        run: |
          uv run coverage run

      - name: Code coverage report
        run: |    
          uv run coverage

      - name: functional tests on Linux and Mac
        if: ${{ runner.os == 'Linux' || runner.os == 'macOS' }}
        run: |
          source ./temp_venv/venv/bin/activate
          pytest ./model_function_tests
          deactivate

      - name: functional tests on Windows
        if: ${{ runner.os == 'Windows' }}
        run: |
          .\temp_venv\venv\Scripts\Activate.ps1
          pytest .\model_function_tests
          deactivate